// CREATING VARIABLES FOR COLORS
$primaryColor: #f66f32;
$secondaryColor: #083d77;
$darkColor: #111111;
$darkGrayColor: #777777;
$lightGrayColor: #f8f8f8;
$lightColor: #ffffff;
$noneColor: transparent;







